@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

header {
  margin-bottom: 1rem;
}
/* nav styles */

#website-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#website-logo img {
  height: 1rem;
  margin-right: 0.5rem;
}

#website-title {
  font-size: 1rem;
  color: #499CE8;
  white-space: nowrap;
}

#website-title:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navlink {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 1rem;
}

nav h2, .one-column h2 {
  margin-bottom: 0;
}

.text-link {
  font-weight: bold;
  color: #3E788A;
  text-decoration: none;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#website-description {
  margin: 0;
  font-size: .7rem;
  width: 45%;
}
/* end nav styles */

main {
  display: flex;
  flex-direction: column;
}

.two-column {
  display: flex;
  min-height: 80vh;
}

.section-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: .5rem .5rem 0 0;
  /* border-style: solid;
  border-width: thin;
  border-right: none;
  border-color: #C4C4C4; */
}

.section-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: .5rem;
  border-style: solid;
  border-width: thin;
  border-color: #C4C4C4;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 2px #00000040;
  position: relative;
}

.prompt {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: .3rem;
}

#option-box {
  display: flex;
  justify-content: space-between;
}

.option-column {
  width: 50%;
}

.option {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 90%;
  color: #3E788A;
  padding: .5rem;
  border-style: solid;
  border-width: thin;
  border-radius: .6rem;
  border-color: #3E788A;
  margin-right: .3rem;
  margin-bottom: .3rem;
  justify-content: space-between;
  transition: box-shadow 200ms;
}

.option:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.option h3 {
  font-weight: normal;
  font-size: .8rem;
  margin: 0;
}

.option-selected h3 {
  font-weight: bold;
  font-size: .8rem;
  margin: 0 0 .6rem 0;
}

.option-selected {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-self: flex-start;
  flex-basis: 45%;
  color: white;
  background-color: #3E788A;
  padding: .5rem;
  border-radius: .6rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
  justify-content: space-between;
}

.option img, .option-selected img {
  width: .8rem;
}

/* styles for expanded prompt */
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-grid-container {
  display: flex;
  flex-direction: column;
  background-color: #3E788A;
  padding: .5rem;
  border-radius: .6rem;
}

.category-grid-container h3 {
  font-weight: bold;
  font-size: .8rem;
  margin: 0 0 .6rem 0;
  color: white;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.category-grid h3 {
  color: white;
  font-weight: bold;
  font-size: .8rem;
  margin: 0 0 .6rem 0;
}

.category, .category-gridded {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: .6rem;
  padding: .4rem;
  position: relative;
}

.category:hover, .category-gridded:hover {
  cursor: pointer;
  background-color: #E6E7E8;
}


.category {
  width: 45%;
  margin-top: .3rem;
}

.category-gridded {
  width: 22%;
  margin-top: .5rem;
}

.category h4, .category-gridded h4 {
  font-size: .7rem;
  margin: 0;
}

.category p, .category-gridded p {
  font-size: .5rem;
  color: #787878;
  width: 95%;
  min-height: 2rem;
}

.inblock-icon-2 {
  width: .8rem;
  position: absolute;
  bottom: .3rem;
  right: .3rem;
}

.inblock-icon:hover, .inblock-icon-2:hover {
  cursor: pointer;
}
/* end styles for expanded prompt */

#selected-options {
  display: flex;
  flex-direction: column;
}

.selection {
  display: flex;
  width: fit-content;
  border-radius: .6rem;
  align-items: center;
  padding-left: .3rem;
  padding-right: .3rem;
  margin-bottom: .3rem;
  color: white;
  background-color: #3E788A;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.selection h5 {
  font-size: .7rem;
  padding: .3rem;
  margin: 0 1rem 0 0;
}

.inblock-icon {
  width: .8rem;
}

#generate-pdf {
  margin-top: auto;
}

#generate-pdf p {
  font-size: .7rem;
  color: #787878;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#email-button {
  color: #0CC8F1;
}

#explore-btn, #pdf-button {
  display: flex;
  align-self: flex-end;
  bottom: 1rem;
  position: absolute;
  text-decoration: none;
  border: none;
  color: #0CC8F1;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
}

#explore-btn:hover, #pdf-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-deselected {
  color: #C4C4C4 !important;
}

#legos {
  display: flex;
  flex-wrap: wrap;
}

.lego-selected, .lego-unselected {
  text-align: center;
  font-size: .8rem;
  margin-right: .8rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.lego-selected {
  border-bottom: solid;
  border-color: #3E788A;
}

.lego-selected h4, .lego-unselected h4 {
  margin: 0;
}

.lego-selected h4 {
  color: #3E788A;
}

.lego-selected h4:hover {
  cursor: pointer;
}

.lego-unselected h4 {
  color: #C4C4C4;
  font-weight: normal;
  transition: color 200ms;
}

.lego-unselected h4:hover {
  color: #3E788A;
  cursor: pointer;
}

#explore-box {
  flex: auto;
  background-color: #3E788A;
  display: flex;
}

#companies-column {
  width: 60%;
  padding: .5rem;
}

#companies-column h1 {
  color: white;
  margin: 0 0 1rem 0;
}

#companies-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.companies-box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#companies-box p {
  margin: 0;
  font-size: .7rem;
}

.company {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
  background-color: white;
  margin: .1rem;
  border-radius: .3rem;
  border-style: solid;
  border-width: .2rem;
  border-color: white;
}

.company-selected {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
  background-color: white;
  margin: .1rem;
  border-radius: .3rem;
  border-style: solid;
  border-width: .2rem;
  border-color: #8BDE22;
}

.company-blue {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
  background-color: white;
  margin: .1rem;
  border-radius: .3rem;
  border-style: solid;
  border-width: .1rem;
  border-color: #3E788A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
}

#filters {
  width: 40%;
  border-style: solid;
  border-color: #3E788A;
  background-color: white;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  /* border-radius: 0 0 0 1rem; */
}

.filters-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.filters-row h3 {
  font-size: .7rem;
  font-weight: normal;
  margin: 0;
  width: 40%;
}

.filters-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

.filter {
  font-size: .7rem;
  border-style: solid;
  border-width: thin;
  padding: .2rem .5rem .2rem .5rem;
  border-radius: .5rem;
  margin: 0 .2rem .2rem 0;
  color: #C4C4C4;
  border-color: #C4C4C4;
}

.filter:hover {
  font-weight: bold;
  color: #3E788A;
  border-color: #3E788A;
}

.filter-selected {
  font-size: .7rem;
  border-style: solid;
  border-width: thin;
  border-color: #3E788A;
  padding: .2rem .5rem .2rem .5rem;
  border-radius: .5rem;
  margin: 0 .2rem .2rem 0;
  color: white;
  background-color: #3E788A;
}

#company-details {
  display: flex;
  flex-direction: column;
  height: 30%;
  padding: .5rem;
  background-color: white;
  border-style: solid;
  border-color: #8BDE22;
  position: relative;
  border-radius: .5rem;
}

#filters h1 {
  margin: 0 0 1rem 0;
  color: #3E788A;
}

#company-details h1 {
  margin: 0 0 1rem 0;
  color: black;
}

#company-details p {
  font-size: .7rem;
  margin: 0;
}

#company-add-btn {
  text-decoration: none;
  border: none;
  background-color: white;
  padding: .3rem .5rem .3rem .5rem;
  color: #0CC8F1;
  font-weight: bold;
  font-size: .7rem;
  align-self: flex-end;
  position: absolute;
  bottom: .5rem;
  border-radius: .3rem;
}

#company-add-btn:hover {
  background-color: #0CC8F1;
  color: white;
  cursor: pointer;
}

.one-column {
  width: 100%;
  display: flex;
  align-items: center;
}

.back-arrow {
  background-image: url("../images/icons/back-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: .8rem;
  width: 1rem;
}

.forward-arrow {
  background-image: url("../images/icons/forward-arrow.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: .8rem;
  width: 1rem;
}

.one-column h1 {
  color: #3E788A;
  font-size: 1rem;
}

.one-column h1:hover {
  text-decoration: underline;
}

.company-container {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem 1rem .5rem;
  border-radius: 1rem 0 0 1rem;
  margin-bottom: .1rem;
}

.company-container div {
  display: flex;
  flex-wrap: wrap;
}

.company-container h4 {
  margin: 0 0 .5rem .2rem;
  font-weight: normal;
  font-size: .8rem;
  color: white;
}

.background-default {
  background-color: #3E788A;
}
/* 1 = frontend, 2 = backend, 3 = developer tooling */
.background-blue-1 {
  background-color: #4E97AD;
}

.background-blue-2 {
  background-color: #4E68AD;
}

.background-blue-3 {
  background-color: #4EAD93;
}

.flex-vertical {
  flex-direction: column;
}

.filler-div {
  height: 0;
  width: 22%;
  padding: .4rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.category-label {
  display: flex;
  align-items: center;
  margin-bottom: .2rem;
  margin-left: .5rem;
}

.category-label img {
  height: .8rem;
  width: auto;
}

.category-label h5 {
  margin: 0 0 0 .3rem;
  font-weight: normal;
  font-size: .8rem;
  color: #3E8A76;
}

#lego-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#lego-box img {
  height: 1rem;
  width: auto;
  margin-right: .5rem;
}

#selected-companies {
  margin-bottom: 3rem;
}

.popup {
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  width: 15rem;
  background-color: white;
  left: 4rem;
  border: solid;
  top: 3rem;
  border-color: #8bde22;
  border-radius: .5rem;
  z-index: 1;
  padding: .5rem .5rem 3rem .5rem;
  color: black;
}

.popup h3 {
  font-size: .8rem;
  width: 95%;
  margin: 0 0 .5rem 0;
}

.popup-icon {
  width: .8rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.popup-icon:hover {
  cursor: pointer;
}

.btn-deselected:hover {
  text-decoration: none !important;
  cursor: default !important;
}

.hidden {
  display: none !important;
}
